coverage
build
bin
dist
logs
node_modules
mta_archives
*_mta_build_tmp
Makefile_*.mta
junit.xml
npm-audit-disable
npm-audit-ignore
deploy.mtaex
default-env.*.json
cert_tmp
tmp_dir
ismBuildCreds.txt
ring-deployment-tests/src/sessionId.json
.DS_Store
ring-deployment-tests/local-debug
