apiKey=6971b2eec2d3420bad0caf173ec629f6a3c7d3ba63f3445ab99ffdbf1acfb1d0
case.sensitive.glob=false
checkPolicies=true
excludes=
failErrorLevel=ALL
followSymbolicLinks=true
forceCheckAllDependencies=true
forceUpdate.failBuildOnPolicyViolation=false
forceUpdate=true
fileSystemScan=true
includes=**/*.lock
offline=false
productName=BDC_FOS_DSAPI_SVC_73554900100200024647
productToken=
productVersion=
projectName=
projectToken=
projectVersion=
userKey=336720c2a9f241d5af342413337a102d92ddb2e4f84d498bbd9bd30ec3603e8a
wss.url=https://sap.whitesourcesoftware.com/agent
npm.resolveDependencies=true
generateScanReport=true
scanReportFilenameFormat=static
log.level=debug
